name: "checks"

# Runs your workflow when activity on a pull request in the workflow's repository occurs.
# If no activity types are specified, the workflow runs when a pull request is opened, reopened, or when the head branch of the pull request is updated.
on: [ pull_request ]
jobs:
  formatcheck:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.12" ]
        tox-env: [ "formatcheck" ]
    name: ${{ matrix.tox-env }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run ${{ matrix.tox-env }} via Tox
        run: |
          tox -e ${{ matrix.tox-env }}
  lint:
    strategy:
      matrix:
        python-version: [ "3.12" ]
        os: [ ubuntu-latest ]
        tox-env: [ "lint" ]
    name: ${{ matrix.tox-env }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run ${{ matrix.tox-env }} via Tox
        run: |
          tox -e ${{ matrix.tox-env }}
  test:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.12" ]
        tox-env: [ "test" ]
    name: ${{ matrix.tox-env }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run ${{ matrix.tox-env }} via Tox
        run: |
          tox -e ${{ matrix.tox-env }}
  typecheck:
    strategy:
      matrix:
        python-version: [ "3.12" ]
        os: [ ubuntu-latest ]
        tox-env: [ "typecheck" ]
    name: ${{ matrix.tox-env }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run ${{ matrix.tox-env }} via Tox
        run: |
          tox -e ${{ matrix.tox-env }}
  test_packaging:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.12" ]
        tox-env: [ "test_packaging" ]
    name: ${{ matrix.tox-env }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run ${{ matrix.tox-env }} via Tox
        run: |
          tox -e ${{ matrix.tox-env }}
